<div style="background-color: #111111; padding: 50px 0;" class="text-light">
    <div class="container">
        <!-- profile section -->
        <div style="background-image: url({{image}}); height: 100vh; background-repeat: no-repeat; 
                    background-size: cover; background-attachment: fixed;" class="row">
            <div class="col-md-6 align-self-start text-center">
                <div class="step-title">
                    <h1 class="featured">Profile</h1>
                </div>
                <div class="step-detail">
                    <h3>Name: Somaia Mostafa</h3>
                    <h3>Age: 23</h3>
                    <h3>Email: SomaiaElbaradey@angular.com</h3>
                </div>
            </div>
        </div>
    </div>
</div>