.col-md-6 {
    font-style: oblique;
}

.step-title h1 {
    margin: 90px 0;
    font-size: 29px;
    color: rgb(202, 202, 202);
}

.step-detail h3 {
    color: rgb(170, 169, 169);
    font-size: 21px;
}
