<div style="background-color: #111111; padding: 50px 0;" class="text-light">
    <div class="container">
        <!-- about section -->
        <div style="background-image: url({{image}}); height: 100vh; background-repeat: no-repeat; 
                    background-size: cover; background-attachment: fixed;" class="row">
            <div class="col-md-6 align-self-start text-center">
                <div class="row form-content">
                    <div class="col-12">
                        <div class="step-title">
                            <h2 class="featured">Profile</h2>
                            <p>Please Enter your data.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>