button {
    opacity: 1;
    height: 50px;
    padding: 10px 15px;
    background-color: rgb(26, 25, 25);
    margin: 50px 0;
    border: white solid 1px;
    color: rgb(238, 234, 234);
    transition: background-color 0.6s;
    transition-timing-function: ease-in;
    cursor: pointer;
}

button:hover {
    background-color: rgba(59, 59, 59, 0.733);
}