<div style="background-color: #111111; padding: 39px;" class="text-light">
    <div class="container">
        <!-- about section -->
        <div style="background-image: url({{image}}); height: 100vh; background-repeat: no-repeat; 
                    background-size: cover; background-attachment: fixed;" class="row">
            <div class="col-md-6 align-self-start"></div>
            <div class="col-md-6 align-self-center">
                <div class="about text-center">
                    <h2>About Me</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable. All the Lorem IpsumThere are many variations of passages of Lorem Ipsum available.
                        If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                        embarrassing hidden in the middle of text. All the Lorem IpsumThere are many variations of
                        passages of Lorem Ipsum available, but the majority have suffered alteration in some form,</p>
                </div>
            </div>
        </div>
    </div>
</div>