*{
    margin: 0px;
    padding: 0px;
    transition: all ease 0.3s;
}

@font-face {
    font-family: Lato;
    src: url(./font/Lato-Regular.ttf);
}  

/****************************************************************/
/* header */

body{
    font-family: 'Lato', sans-serif;
}

.header{
    padding-left: 2em;
    padding-right: 3em;
    background: linear-gradient(to bottom right, #00cdcd 65%,#fff 65.1%, #fff 100%);
}

.navbar, .header{
    background-color: #00cdcd!important;
    color: white!important;
    opacity: 1!important;
}

#navbarNavDropdown{
    justify-content: flex-end;
    padding-right: 70px;
}

.nav-item .active{
    border-bottom: 2px solid;
}

.nav-item .active:hover{
    border-style: none;
}

.navbar li:hover{
    animation-name: navhover;
    animation-duration: 3.3s;
    border-bottom: 2px solid;
}
/**/
@keyframes navhover {
    0% { 
        height: 20%;
    }
    
    100% { 
        height: 80%;
    }    
}

.intro-desc h3{
    font: 69px bolder;
}

.intro-desc p{
    width: 400px;
}

.dropdown-menu .dropdown-item{
    list-style: none;
}

.dropdown-menu .dropdown-item:hover {
    list-style: none!important;
    color: white;
    background-color: #00cdcd;
}

.read-btn{
    background-color:white;
    color: #00cdcd;
    align-self: center;
    border-radius: 30px;
    height: 45px;
    width: 166px;
    font-size: 19px;
}

.read-btn:hover{
    background-color:#f2ce5f;
    color: white;
}

#navbarDropdownMenuLink {
    animation: show_dropdown_menu 0.2s ease-in-out forwards;
    visibility: visible;    
}

@keyframes show_dropdown_menu {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.bars{
    display: none;
}

@media (max-width: 992px) {
    .header {
        padding: 1em;
    }

    .header .dropdown-menu {
        display: none;
    }
    .intro-desc{
        padding-top: 3em;
    }
}

/* card*/
/****************************************************************/
.cards>div{
    margin-top: 100px;
    gap:5%;
    margin-bottom: 100px;
}

.cards .card{
    background-color: #00cdcd;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

.card-icon-div{
    align-items: center;
    border-radius: 100px;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    margin-top: 30px;
    width: 100px;
    font-size: 35px;
    color: #00cdcd;
}

.card .card-title{
    font-size: 23px;
    padding: 5px;
}

.card .card-text{
    font-size: 17px;
    padding: 5px;
}

.cards .card:hover{
    border-bottom: 5px #f2ce5f solid ;
}

.cards .card:hover .card-icon-div {
    color: #f2ce5f; 
}

@media (max-width: 992px) {
    .card{
        margin-bottom: 1em;
    }
}

/* Business*/
/****************************************************************/
.Business-header{
    margin-bottom: 30px;
    line-height: 29px;
}

.Business-header span{
    color: #00cdcd; 
    font-size: 35px;
}

.Business-container{
    background-image: url(./assets/gray-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}


/* main features */
/****************************************************************/
.features-circle{
    background-image: url(./s.gif);
    background-size: cover;
}
.main-features{
    padding-top: 30px;
    background-color: #fbfbfb;
}

.main-features p{
    width: 90%;
}
.main-features .features-header h3,.main-features .features-header span{
    margin: auto;
    font-size: 53px;
    font-weight: 700;
    padding-bottom: 20px;
    color: #303952; 
}

.main-features span{
    font-size: 29px;
    color: #00cdcd!important; 
}

.main-features .features-header p{
    margin: auto;
    font-size: 19px;
    font-weight: 500;
}

.main-features .right{
    text-align: right;
}

.main-features .center-left{
    padding-right: 30px;
}

.main-features .center-right{
    padding-left: 30px;
}

.main-features .feature p{
    line-height: 29px;
    margin-bottom: 39px;
}

.main-features .feature h5{
    line-height: 19px;
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .main-features .center-left{
        padding-right: 0px;
    }
    
    .main-features .center-right{
        padding-left: 0px;
    }
}

/*screenshots*/
/***************************************************************************/
.screen{
    background-image: url(./assets/gray-bg.jpg);
    background-size: cover;
    background-attachment: fixed;

}
.screenshots{
    margin-bottom: 100px;
}

.screenshots h3{
    margin-top: 40px;
    font-size: 53px;
    font-weight: 700;
    padding-bottom: 10px;
    color: #303952; 
}

.screenshots span{
    color: #00cdcd; 
}

.screenshots p{
    margin-bottom: 50px;
    font-size: 19px;
    font-weight: 500;
}

.carousel-item .card{
    background-color: #00cdcd00;
    border: none;
}

.carousel-item {
    margin-left:10%;
    align-self: center;
}

/* video */
/**************************************************************************/
.video{
    margin-bottom: 100px;
}

.video h3{
    font-size: 53px;
    font-weight: 700;
    padding-bottom: 10px;
    color: #303952; 
}

.video span{
    color: #00cdcd; 
}

.video p{
    margin-bottom: 50px;
    font-size: 19px;
    font-weight: 500;
}

.video img{
    position: relative;
}

.video-back img{
   background-color: rgba(0, 205, 205, 0.7)!important;
}

 /* App Price  */
/**************************************************************************/
.app-price{
    background-color: #00cdcd;
    padding-top: 50px;
    padding-bottom: 50px;
}

.app-price h3{
    font-size: 53px;
    font-weight: 700;
    padding-bottom: 10px;
    color: #303952; 
}

.app-price span{
    color: #ffff; 
}

.app-price p{
    margin-bottom: 50px;
    font-size: 19px;
    font-weight: 500;
}

.app-price .price-table{
    background-color: white;
}

.price-table, .price-table h3{
    color: #00cdcd;
}

.price-table ul{
    list-style: none;
    padding:0px;
}

.price-table ul li{
    padding: 10px;
    border-bottom: 1px solid #00cdcd;
    color: #303952;
}

.price-table h4{
    padding: 0.5rem;
    margin-bottom: .5rem;
    line-height: 1.2;
    font-weight: 551;
}

.price-table h3{
    font-size: 79px;
    font-weight: 551;
    padding: 0rem;
}

.price-table span{
    font-size: 20px;
}

.price-table h5{
    font-size: 16px;
    padding-bottom: 20px;
}

.price-table .list{
    padding-bottom: 30px;
}

.price-table a{
    background-color:#00cdcd;
    border-radius: 30px;
    height: 45px;
    width: 166px;
    font-size: 19px;
    border-style: none;
}

.price-table a:hover{
    background-color:#f2ce5f;
    color: white!important;
}

@media (max-width: 992px) {
    .price-table {
        margin-bottom: 1em;
        }
}

/* common FQ */
/******************************************************/
.accordion-item{
    margin-bottom: 25px;
    box-shadow: 5px 10px 8px #c2c7c7a8;
    border-radius: 0px 0px 20px 20px;
}

.accordion-item h2 button{
    display: block;
    text-align: left;
    padding: 15px 60px 15px 30px;
    color: #fff;
    position: relative;
    background-color: #00cdcd;
}

.accordion-item .accordion-button{
    box-shadow: none;
    border: none;
    border-radius: 15px;
}

.accordion-item .accordion-body{
    padding: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.accordion-button:not(.collapsed) {
    color: #303952;
    border-style: none;
    background-color: #f7f7f7;
    box-shadow: none;
}

.fqa .section-title h3{
    margin-top: 2em;
    font-size: 53px;
    font-weight: 700;
    padding-bottom: 10px;
    color: #303952; 
}

.fqa .section-title span{
    color:#00cdcd;
}

.fqa .section-title p{
    margin-bottom: 2em;
    font-size: 19px;
    font-weight: 500;
}

/*git in touch*/
/*************************************************************************/

.git .section-title h3{
    margin-top: 2em;
    font-size: 53px;
    font-weight: 700;
    padding-bottom: 10px;
    color: #303952; 
}

.git .section-title span{
    color:#00cdcd;
}

.git .section-title p{
    margin-bottom: 2em;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 60px;
}

.git-form .form-group input, .git-form .form-group textarea{
    border: none;
    border-radius:0;
    border-bottom:2px solid #00cdcd;
    font-weight:296;
    padding:15px;
    margin-bottom: 1.5em;
}

.git-form .form-group input:active, .git-form .form-group textarea, .git-form .form-group input{
    box-shadow: none;
    font-weight:296;
}

.git-form .form-group input:focus, .git-form .form-group textarea:focus{
    border-bottom:2px solid #f2ce5f;
}

.git-form button{
    border: none;
    box-shadow: none;
    background-color:#00cdcd;
    color: #ffff;
    text-align: center;
    border-radius: 30px;
    height: 45px;
    width: 166px;
    font-size: 16px;
    margin-bottom: 1.5em;
}

.git-form button:hover{
    background-color:#f2ce5f;
    color: white;
}

.contact-info{
    margin-top: 3em;
    margin-bottom: 4em;
}

.contact-info span{
    font-size: 49px;
    color: #00cdcd;
}

.contact-info a{
    text-decoration: none;
}

.contact-info a, .contact-info h5{
    margin-top: 10px;
    color:#303952;
    line-height: 29px;
    font-size: 19px;
    width: 70%;
    margin: auto;
}